<div id="wrapper">
    <div id="form">
        <form [formGroup]="myLoginForm" (ngSubmit)="onSubmit()" #form="ngForm">
            <label for="username">Username</label>
            <input type="text" formControlName="username" required />

            <div *ngIf="username?.invalid && form.submitted">
                <p class="error" *ngIf="username?.errors?.['required']">Username cannot be blank!</p>
                <p class="error" *ngIf="username?.errors?.['minlength']">Username must be at least 3 characters long!</p>
            </div>

            <label for="password">Password</label>
            <input type="password" formControlName="password" required />

            <div *ngIf="password?.invalid && form.submitted">
                <p class="error" *ngIf="password?.errors?.['required']">Password cannot be blank!</p>
            </div>

            <p *ngIf="error" class="error">{{ error }}</p>

            <div *ngIf="isRegistration">
                <button type="submit">Register</button>
                <p class="query">Already have an account? <a routerLink="/login">Login</a></p>
            </div>

            <div *ngIf="!isRegistration">
                <button type="submit">Login</button>
                <p class="query">Don't have an account? <a routerLink="/register">Signup</a></p>
            </div>

            
        </form>
    </div>
</div>
